<ion-header [translucent]="true">
<ion-toolbar>
    <ion-title>
      <div class="inline-info">
      <img src="assets/images/ConnectALL.png" alt="ConnectALL LLC">
      <p>&nbsp;&nbsp;Anytime Anywhere</p>
      </div>
      <img alt="user avatar" class="user-avatar__img" src="assets/images/user-logo.jpg">
    </ion-title>
  </ion-toolbar>
</ion-header>
<br><br>
<div class="content">
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
<br><br>
  <ion-card>
  <ion-card-header>
    <ion-card-title>ConnectALL News Feed</ion-card-title>
    <ion-card-subtitle>Catch all the latest happenings of ConnectALL here</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <img src="assets/images/devops.png" alt="ConnectALL LLC"><br>
    <img src="assets/images/metrics.png" alt="ConnectALL LLC"><br>
    <img src="assets/images/valuestream.png" alt="ConnectALL LLC"><br>
    <img src="assets/images/webinar.jpg" alt="ConnectALL LLC">
  </ion-card-content>
  </ion-card>
 <p>All rights reserved to ConnectALL &#169;</p>
</ion-content>
</div>


  <app-explore-container name=""></app-explore-container>
