<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="inline-info">
      <img src="assets/images/ConnectALL.png" alt="ConnectALL LLC">
      <p>&nbsp;&nbsp;Anytime Anywhere</p>
      </div>
      <img alt="user avatar" class="user-avatar__img" src="assets/images/user-logo.jpg">
    </ion-title>
  </ion-toolbar>
</ion-header>
<br/>
<div class="content">
<ion-content [fullscreen]="true">
  
   <ion-grid >
  <ion-row>
    <ion-col size= "1.5"></ion-col>
    <ion-col size= "5"  class="cell-class">
      <img src="assets/Grafana.svg"/>
    </ion-col>
    <ion-col size= "0.25"></ion-col>
    <ion-col size= "5"  class="cell-class">
      <img src="assets/images/voice.png" [routerLink]="['/tabs/tab3']"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size= "1.5"></ion-col>
    <ion-col size= "5"  class="cell-class">
      <img src="assets/images/ca.jpeg" [routerLink]="['/tabs/tab2']" routerLinkActive="router-link-active" />
    </ion-col>
    <ion-col size= "0.25"></ion-col>
    <ion-col size= "5"  class="cell-class">
      <img src="assets/images/ca.jpeg"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size= "1.5"></ion-col>
    <ion-col size= "5"  class="cell-class">
      <img src="assets/images/ca.jpeg"/>
    </ion-col>
     <ion-col size= "0.25"></ion-col>
   <ion-col size= "5"  class="cell-class">
      <img src="assets/images/ca.jpeg"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size= "1.5"></ion-col>
    <ion-col size= "5"  class="cell-class">
      <img src="assets/images/ca.jpeg"/>
    </ion-col>
     <ion-col size= "0.25"></ion-col>
   <ion-col size= "5"  class="cell-class">
      <img src="assets/images/ca.jpeg"/>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size= "1.5"></ion-col>
    <ion-col size= "5"  class="cell-class">
      <img src="assets/images/ca.jpeg"/>
    </ion-col>
     <ion-col size= "0.25"></ion-col>
   <ion-col size= "5"  class="cell-class">
      <img src="assets/images/ca.jpeg"/>
    </ion-col>
  </ion-row>
</ion-grid>
 <p>All rights reserved to ConnectALL &#169;</p>
</ion-content>
</div>
<app-explore-container name="">
</app-explore-container>


